services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file: .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - bidding_network

  redis:
    image: redis:7-alpine
    command: redis-server --save 60 1 --loglevel warning
    networks:
      - bidding_network

  web:
    build:
      context: .
      target: runtime # Use the runtime stage for the final image
    command: >
      sh -c "python manage.py migrate &&
             exec daphne -v 2 -b 0.0.0.0 -p 8000 core.asgi:application"
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
      - DJANGO_LOG_LEVEL=DEBUG
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - bidding_network

networks:
  bidding_network:
    driver: bridge

volumes:
  postgres_data: